node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit/generated
/.svelte-kit/output
/.svelte-kit/types
/.svelte-kit/ambient.d.ts
/.svelte-kit/non-ambient.d.ts
/build
/static
**/*/dist

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*