@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.activated {
    text-decoration: underline;
    text-decoration-color: #B29487;
    text-decoration-thickness: 3px;
}